@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('variables.css');

body {
   background-color: var(--bg-color--body);
   color: var(--color--body-text);
   font-family: var(--primary-typeface);
}

h1 {
   text-align: center;
}

nav {
   margin: 0 auto;
   width: var(--width--nav);
   height: var(--height--nav-item);
}

nav a {
   display: block;
   width: var(--width--nav-item);
   color: var(--color--nav-item);
   text-align: center;
   text-decoration: none;
   line-height: var(--height--nav-item);
}

nav a:hover {
   background-color: var(--bg-color--anchor-hover);
}

nav ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

nav ul > li {
   float: left;
   width: var(--width--nav-item);
   position: relative;
   background-color: var(--bg-color--nav-item);
}

nav ul > li > ul {
   visibility: hidden;
   position: absolute;
   left: 0;
}

nav ul > li:hover > ul {
   visibility: visible;
}

nav ul > li > ul a {
   line-height: var(--height--nav-item);
   height: var(--height--nav-item);
}
