@import url('http://fonts.googleapis.com/css?family=Lato:300,300italic,700&amp;subset=latin,latin-ext');

:root {
   --bg-color: rgba(255, 255, 255, .9);
   --primary-typeface: 'Lato', sans-serif;
   --primary-space: 12px;
   --secondary-space: 24px;
   --tertiary-space: 48px;
}

* {
   margin: 0;
   padding: 0;
}

body {
   font-family: var(--primary-typeface);
}

h1 {
   margin: var(--secondary-space) 0;
   text-align: center;
}

a {
   text-decoration: none;
}

#container {
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   width: 1200px;
}

.item {
   position: relative;
   width: 33.33%;
   line-height: 0;
}

.item--heading {
   position: absolute;
   top: var(--secondary-space);
   margin-right: var(--tertiary-space);
   background-color: var(--bg-color);
   padding: var(--primary-space) var(--secondary-space);
   line-height: 1.2;
}

.item--image {
   width: 100%;
}

.item--caption {
   position: absolute;
   bottom: var(--secondary-space);
   left: 0;
   background-color: var(--bg-color);
   padding: var(--primary-space);
   line-height: 1;
}

@media (max-width: 1280px) {
   #container {
      width: 1000px;
   }
}

@media (max-width: 1080px) {
   #container {
      width: 92.59%;
   }
}
