:root {
   --primary-typeface: 'Open Sans', sans-serif;
   --bg-color--body: #21bde1;
   --bg-color--link-hover: #d5f2f9;
   --bg-color--nav-item: #fff;
   --color--body-text: #555;
   --color--anchor-text: #000;
   --width--nav-item: 150px;
   --width--nav: calc(2 * var(--width--nav-item));
   --height--nav-item: 48px;
}
